<a href="https://colab.research.google.com/github/miguelVeltmann/edd_1358_2021/blob/master/2deOctubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de dato
- String             str
- enteros            int
- numero flotante    float
- logico             bool
- Numero complejo    complex
- Listas             List
- Tuplas             tuple
- Diccionario        dict
- Conjuntos          set

In [ ]:
#string puede emplear "" , '' o """ """
universidad = "Universidad     Nacional Autonoma de Mexico"
print(universidad)
#cuando el string es una sola palabra se usa '' ---> buena practica
carrera = 'ico'
area = 'software'
division = "division de las ciencas fisico matematicas"
print(carrera, area)
print(division)
#""" cuando el string incluye varios renglones
frase = """
si 
funciona, no
lo
arregles !!
"""
print(frase)

In [ ]:
print( universidad.upper() )
print (universidad)
print (universidad.title())
#eliminar espacios a la derecha o izquierda \n
universidad = universidad.strip()
print(universidad)
lista = universidad.split(" ")
print(lista)
nueva = " "
for i in  lista:
  if len(i) > 0:
    nueva += i + " "
print(nueva)

numeros = "1,2,34,56,100"
separados = numeros.split(",")
print(separados)
numeros_int = []
for num in separados:
  numeros_int.append( int(num) )
print(numeros_int)
print(nueva)
print(nueva.index(" Na"))
print(nueva.replace(" ","-"))
print(nueva)

#slicing
sintaxis
[inicio : stop : incremento]

In [ ]:
print(nueva[0] )
nueva = nueva.strip()
print(nueva[len(nueva) - 1]) #indexado negativo
print(nueva[-2] )

#slicing
print(nueva[12 : 20: 1])
print(nueva[-6 : : 1])
print(nueva[-1: -7 : -1])
#mexico al revez con slicing
print(nueva[ ::2 ])

#bool 
Acepta solo dos valores 
True bool(1)
False bool(0)

In [49]:
print(bool(0))
print(bool(1))
print(bool(21827))

False
True
True

#Comentarios
para un comentario de multiple linea, equivalente a /**/ de java y leng c se utiliza """ """

In [ ]:
#este es un comentario de linea simple
"""
Este 
 es un
  comentario
   de multiple
     linea
"""

#Funcion Print
Hay 4 formas de usar print
1.   con cosas(,)
2.   con signo +(+)
3.   con la funcion format() de la clase string
4.   con el operador f"

In [52]:
#con comas
cantidad = 2
precio_chetos = 8
precio_fanta = 12

print(cantidad,precio_chetos,precio_fanta)

#con signo solo opera con strings
print("Hola" + "Mundo")
print(cantidad + precio_chetos + precio_fanta)
print(str(cantidad) + str(precio_chetos) + str(precio_fanta))

2 8 12
HolaMundo
22
2812